form {
    width: 90vw;
    max-width: 20em;
}

button {
    border: 1px solid rgb(49, 159, 187);
    color: white;
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    background-color: rgb(49, 159, 187);
}

input {
    border: 1px solid;
    padding: 0.3em;
    width: 100%;
}

textarea {
    width: 100%;
    min-height: 6em;
}

label {
    display: block;
    font-size: 1.2rem;
    margin-top: 1rem;
}

select {
    font-size: 16px;
}

postal-code {
    width: 50%;
}