.leaflet-container {
  width: 100%; 
  height: 80vh;;
  
}


.mapContainer{
  position: absolute;
  display: flex;
  height: 80vh;
  width: 550px;
  top: 15%;
  left: 5%;
}


.formContainer{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 37%;
  left: 50%;

}


.formContainer input{
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  outline: none;
  background: transparent;
}

button{
	margin: 45px 0 30px 0;
	height: 45px;
	width: 365px;
	font-size: 20px;
	color: white;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	background: #1A237E;
	border-radius: 3px;
	border: 1px solid #3949AB;
	transition: .5s;
  margin-left: 20%;
}


input[type="text"]::placeholder {  
                  
  /* Firefox, Chrome, Opera */ 
  padding-left: 3px; 
} 