
.leaflet-container {
  width: 100%;
  height: 80vh;
  ;

}

.mapContainer {
  position: absolute;
  display: flex;
  height: 80vh;
  width: 550px;
  top: 15%;
  left: 5%;
  border: 5px solid black;
}

.mainContainer {
  background-image: url("./assets/Images/bg.jpg");
  height: 100vh;
  width: auto;
}


.formContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 50%;
  left: 50%;

}


/* .formContainer input{
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  outline: none;
  background: transparent;
  border: 1px solid #fff;
} */

button {
  margin: 45px 0 30px 0;
  height: 45px;
  width: 365px;
  font-size: 20px;
  color: white;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  background: #1A237E;
  border-radius: 3px;
  border: 1px solid #3949AB;
  transition: .5s;
  margin-left: 20%;
}


input[type="text"]::placeholder {

  /* Firefox, Chrome, Opera */
  padding-left: 3px;
}



.glow-on-hover {
  width: 365px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}


.glow-on-hover-2 {
  width: 550px;
  height: 80vh;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover-2:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover-2:active {
  color: #000
}

.glow-on-hover-2:active:after {
  background: transparent;
}

.glow-on-hover-2:hover:before {
  opacity: 1;
}

.glow-on-hover-2:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

input {
  width: 100%;
  height: 35px;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.075) inset;
  transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  border-radius: 20px;
  text-indent: 20px;
}

input:focus {
  border-color: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  animation: glowing 20s linear infinite;
  box-shadow: 0 100px 100px rgba(0, 0, 0, 0.075) inset, 0 0 30px rgba(255, 0, 179, 0.6);
  outline: 0 none;
}

.footer{
  position: absolute;
  bottom: 2px;
  right: 0;
  color: white;
  padding-right: 10px;
  text-align: center;
  justify-content: center;
}

a:visited {
  text-decoration: none;
  color: rgb(87, 199, 207);
}


.logo{
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("./assets/Images/logo.png");
  width: 100%;
  height: 100%;
  transform: scale(0.3, 0.3);
  margin-top: -150px;
  margin-left: 270px;
}